:root {
    --mainColor: #2c3d50;
    --secondColor: #34495e;
  }
  
  *,
  ::before,
  ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  a{
    color: antiquewhite;
    text-decoration: none;
  }

html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.64rem;
}

body {
    font-size: 1.6rem;
    color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#wrapper{
    width: 100%;
    min-height: 100vh;
    margin: auto;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--mainColor);
}

header{
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 1rem;
    background-color: var(--secondColor);
}

main{
    width: 100%;
    min-height: 50vh;
    margin: 12vh auto;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    flex-wrap: wrap;
    border-radius: 1rem;
    border: none;
    background-color: var(--secondColor);
}


#chronometer {
    width: 80%;
    min-height: 80%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--mainColor);
    border-radius: 1rem;
    border: none;
}

#display {
    font-size: 3rem;
    margin: 1rem;
}

button {
    min-width: 12.5rem;
    padding: 0.5rem;
    border: none;
    border-radius: 1rem;
    font-size: 1em;
    margin: 5px;
}

#startButton{
    background-color: darkgreen;
    color: antiquewhite;
}

#resetButton{
    background-color: darkred;
    color: antiquewhite;
}


button:hover{
    transform: scale(0.9);
    transition: transform  0.2s ease-in-out;
}

footer{
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 1rem;
    background-color: var(--secondColor);
    text-align: center;
}

@media screen and (min-width : 768px) {
    body{
        font-size: 1.8rem;
    }

    #chronometer{
        width: 60%;
        min-height: 60%;    
    }
}

@media screen and (min-width : 1024px) {
    body{
        font-size: 2rem;
    }

    #chronometer{
        width: 40%;
        min-height: 40%;    
    }
}